{% block page_content %}
    <div class="modal-header">
        <h4 class="modal-title">Détails sur le Récipiandaire</h4>
        <div class="btn btn-icon btn-sm  ms-2" data-bs-dismiss="modal" aria-label="Close">
            <span class="svg-icon svg-icon-2x text-white">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor"></rect>
					<rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor"></rect>
				</svg>
            </span>
        </div>
    </div>
   
    <div class="modal-body">
        <table class="table table-bordered">
        <tbody>
                {# <tr>
                    <th>Id</th>
                    <td>{{ don.id }}</td>
                </tr> #}
                <tr>
                    <th>Date de remise</th>
                    <td>{{ don.dateremise ? don.dateremise|date('d-m-Y  ') : '' }}</td>
                </tr>
                
                 <tr>
                   <th>Récipiandaire</th>
                    <td>{{ don.nom }}</td>
                </tr>
                <tr>
                    <th>Communauté</th>
                    <td>{{ don.communaute.libelle }}</td>
                </tr>
                <tr>
                    <th>Tel Récipiandaire</th>
                    <td>{{ don.numero }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ don.email }}</td>
                </tr>
                
                            
                <tr>
                    <th>Remis par</th>
                    <td>{{ don.remispar }}</td>
                </tr>
                
                            {# <tr>
                    <th>Statusdon</th>
                    <td>{{ don.statusdon ? 'Yes' : 'No' }}</td>
                </tr> #}

                
                 {# <tr>
                    <th>Date de création</th>
                    <td>{{ don.CreatedAt ? don.CreatedAt|date('d-m-Y  ') : '' }}</td>
                </tr>
                <tr>
                    <th>Date de la dernière modtification</th>
                    <td>{{ don.UpdatedAt ? don.UpdatedAt|date('d-m-Y ') : '' }}</td>
                </tr> #}
               
              
                    </tbody>
    </table>

    {# {% for item in items %}
        
         <table class="table table-bordered">
                 <thead class="colon">
                    <tr>
                      <th scope="col">Quantite</th>
                      <th>Nature du don</th>
                      <th>Motif du don</th>
                      <th>Valeur estimée</th>
                    </tr>
                  </thead>
                <tbody>
                    {% for item in espece %}
                        <tr>
                            <td>{{ item.qte }}</td>
                            <td>{{ item.naturedon }}</td>
                            <td>{{ item.motifdon }}</td>
                            <td>{{ item.montantdon }}</td>
                            
                        </tr>
                    {% endfor %}
                </tbody>
        </table>
    {% endfor %} #}
     <div class="row"><h2 class="text-center">En Espèce</h2></div>
     <table class="table table-bordered">
                 <thead class="card-header">
                    <tr class="text-white text-center">
                      {# <th scope="col">Quantite</th>
                      <th>Nature du don</th> #}
                      <th>Motif du don</th>
                      <th>Valeur estimée</th>
                    </tr>
                  </thead>
                <tbody>
                    {% for item in espece %}
                        <tr>
                            {# <td>{{ item.qte }}</td>
                            <td>{{ item.naturedon }}</td> #}
                            <td>{{ item.motifdon }}</td>
                            <td>{{ item.montantdon }}</td>
                            
                        </tr>
                    {% endfor %}
                </tbody>
     </table>
     <div class="row"><h2 class="text-center">En nature</h2></div>
    <table class="table table-bordered">
                 <thead class="card-header">
                    <tr class="text-white text-center">
                      <th scope="col">Quantite</th>
                      <th>Nature du don</th>
                      <th>Motif du don</th>
                      <th>Valeur estimée</th>
                    </tr>
                  </thead>
                <tbody>
                    {% for item in nature %}
                        <tr>
                            <td>{{ item.qte }}</td>
                            <td>{{ item.naturedon }}</td>
                            <td>{{ item.motifdon }}</td>
                            <td>{{ item.montantdon }}</td>
                            
                        </tr>
                    {% endfor %}
                </tbody>
    </table>
    
    </div>
    <div class="modal-footer">
        <button type="button" class="btn dark btn-outline" data-bs-dismiss="modal">Fermer</button>
    </div>

{% endblock %}
{% block java %}
    <script>
        
    </script>
{% endblock %}