{% block inline_stylesheets %}

{% endblock %}
{% block body %}
{% form_theme form 'widget/fields-block.html.twig' %}
<div class="card card-tabs card-stretch card-custom card-sticky">
  <div class="card-header card-header-stretch card-header-custom">
    <h3 class="card-title"> Evolution des effectifs par communauté </h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <div class="filter-block d-flex justify-content-center">
 {{ form_start(form, {attr: {'class': 'w-600px'}})}}
          <div class="row">
                <!--begin::Repeater-->
              <div id="kt_docs_repeater_advanced">
                  <!--begin::Form group-->
                  <div class="form-group">
                      <div data-repeater-list="kt_docs_repeater_advanced">
                          <div data-repeater-item>
                              <div class="form-group row mb-5">
                                 <div class="col-md-4">
                                      {{ form_row(form.debut) }}
                                  </div>
                                  <div class="col-md-4">
                                      {{ form_row(form.fin) }}
                                  </div>
                                  <div class="col-md-4">
                                      {{ form_row(form.communaute) }}
                                  </div>
                                  
                                </div>
                          </div>
                      </div>
                  </div>
                  <!--end::Form group-->
              </div>
              <!--end::Repeater-->
          </div>
          {{ form_end(form, {render_rest: false}) }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="alert-error"></div>
        <div id="container"></div>

        <div>

        </div>
      </div>

    </div>

  </div>
</div>
{% endblock %}

{% block java %}

<script>
  $(function () {
    init_select2();
    //load_data();

    const $type_contrat = $('#{{ form.communaute.vars.id }}');
    const $error = $('.alert-error');
    $type_contrat.on('change', function () {
      const $this = $(this);
      const current_value = $this.find('option:selected').attr('data-value');
      $error.html('');
      if ($this.val()) {
        load_data(current_value, { communaute: $this.val() });
      } else {
        $error.html('Veuillez sélectionner la communauté');
      }

    });
    function load_data(contrat, filters = []) {
      $.getJSON("{{ path('app_rh_dashboard_type_contrat_datadem') }}", { filters: filters }, function (data) {
        console.log(data.series);
       // Data retrieved https://en.wikipedia.org/wiki/List_of_cities_by_average_temperature
        Highcharts.chart('container', {
          chart: {
            type: 'spline'
          },
          title: {
            text: 'Monthly Average Temperature'
          },
          subtitle: {
            text: 'Source: ' +
              '<a href="https://en.wikipedia.org/wiki/List_of_cities_by_average_temperature" ' +
              'target="_blank">Wikipedia.com</a>'
          },
          xAxis: {
            categories: data.annee,
            accessibility: {
              description: 'Months of the year'
            }
          },
          yAxis: {
            title: {
              text: 'Temperature'
            },
            labels: {
              format: '{value}°'
            }
          },
          tooltip: {
            crosshairs: true,
            shared: true
          },
          plotOptions: {
            spline: {
              marker: {
                radius: 4,
                lineColor: '#666666',
                lineWidth: 1
              }
            }
          },
          series: [{
            name: 'Tokyo',
            marker: {
              symbol: 'square'
            },
            data: data.data

          }, {
            name: 'Bergen',
            marker: {
              symbol: 'diamond'
            },
            data: data.data1
          }]
        });

      });
    }


  });

</script>

{% endblock %}